/* CSS variables */
:root {
  --color-primary-red: #fe6d79;
  --color-primary-green: #00c39a;
  --color-primary-purple: #9d4edd;
  --color-secondary-purple: #7e3eb1;
  --color-primary-blue: #56cfe1;
  --color-primary-yellow: #ffac06;
  --color-neutral-stonewhite: #efede9;
  --color-neutral-stonegrey: #3c4046;

  --color-white: #fffefc;
  --color-black: #000616;

  --gradient-black: linear-gradient(180deg, rgba(0, 6, 22, 0) 0%, #000616 75%);
  --gradient-white: linear-gradient(180deg, rgba(239, 237, 233, 0) 0%, #EFEDE9 75%);
}

.bg-red {
  background-color: var(--color-primary-red);
}
.bg-blue {
  background-color: var(--color-primary-blue);
}
.bg-green {
  background-color: var(--color-primary-green);
}
.bg-yellow {
  background-color: var(--color-primary-yellow);
}
.bg-purple {
  background-color: var(--color-primary-purple);
}
