body {
  margin: 0;
  font-family: "Poppins";
  transition: all 0.5s ease-in-out;
  background-color: var(--background);
  color: var(--font-color);

  svg {
      fill: var(--icon-color);
      transition: all .2s ease-in-out;
  }
}

main {
  position: relative;
}

a,
a:visited {
  width: fit-content;
  color: inherit;

  @media (--large-viewport) {
    text-decoration: none;
    font-weight: 500;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Titillium";
  font-weight: bold;
}

p {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media (--large-viewport) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 28px;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    transform: translateX(14px);
  }
}
