---
import Button, { type ButtonProps } from "@components/library/Button.astro";
import IconButton, {
  type IconButtonProps,
} from "@components/library/IconButton.astro";
import type { ImageProps } from "@components/modules/content/C3-Image.astro";
import C3Image from "@components/modules/content/C3-Image.astro";
import Tag, { type TagProps } from "@components/library/Tag.astro";
import type {
  IComponentDefaults,
  RichtextStoryblok,
} from "@system/utils/types";
import { renderRichText, storyblokEditable } from "@storyblok/astro";

export interface C1StageProps extends IComponentDefaults {
  tags: TagProps[];
  headline: string;
  copy: RichtextStoryblok;
  button: ButtonProps[];
  linkedInButton: IconButtonProps[];
  image: ImageProps[];
  innergrid: boolean;
  halfWidth: boolean;
}

export interface Props {
  blok: C1StageProps;
}

const { blok } = Astro.props;
const {
  tags,
  headline,
  button,
  linkedInButton,
  image,
  innergrid = "false",
  halfWidth,
} = blok;
const copy = renderRichText(blok.copy) || "";
---

<section
  aria-label="Stage"
  class:list={[
    "c1-stage col-span-4 lg-col-span-10",
    { innergrid: innergrid, "lg-col-span-6": halfWidth },
  ]}
  {...storyblokEditable(blok)}
  id={blok._uid}
>
  <div class="lg-leftside col-span-4 md-col-span-2 lg-col-span-6">
    {
      !!tags && (
        <div class="tags">
          {tags.map((tag) => (
            <Tag {...tag} />
          ))}
        </div>
      )
    }
    <h1>{headline}</h1>
    {!!copy && <Fragment set:html={copy} />}
    <div class="button-wrapper">
      {!!button && button.map((button) => <Button {...button} />)}
      {
        !!linkedInButton &&
          linkedInButton.map((linkedInButton) => (
            <IconButton {...linkedInButton} />
          ))
      }
    </div>
  </div>
  {
    !!image &&
      image.map((image: ImageProps) => (
        <C3Image
          gridSmall={{ start: 1, span: 4 }}
          gridMedium={{ start: 3, span: 2 }}
          gridLarge={{ start: 8, span: 3 }}
          inferSize={true}
          {...image}
        />
      ))
  }
</section>

<style>
  .c1-stage {
    align-items: center;
    gap: 16px;
  }

  .innergrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media (--medium-viewport) {
        gap: 24px;
      }

      @media (--large-viewport) {
        grid-template-columns: repeat(10, 1fr);
      }
    }

  .lg-leftside {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }

    & > *:nth-last-child(2) {
      margin-bottom: 48px;
    }

    & > *:last-child {
      margin-bottom: 0px;
    }
    /*    @media (--medium-viewport) {
      padding-bottom: 40px;
    }

    @media (--large-viewport) {
      padding-bottom: 80px;
    } */
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
  }

  .button-wrapper {
    display: flex;
    gap: 16px;
  }
</style>
