---
import ArrowLink, {
  type ArrowLinkProps,
} from "@components/library/ArrowLink.astro";
import type {
  IComponentDefaults,
  RichtextStoryblok,
} from "@system/utils/types";
import { renderRichText, storyblokEditable } from "@storyblok/astro";

export interface C2TextProps extends IComponentDefaults {
  theme: "default" | "light-theme";
  headline: string;
  copy: RichtextStoryblok;
  textalignment: "left" | "center";
  seeAllLink: ArrowLinkProps[];
}

export interface Props {
  blok: C2TextProps;
}

const { blok } = Astro.props;
const { headline, textalignment, seeAllLink } = blok;

const copy: string = renderRichText(blok.copy) || "";
console.log("Link", seeAllLink);
---

<section
  aria-label="Text"
  class={`c2-text col-span-4 md-col-span-2 lg-col-span-6`}
  {...storyblokEditable(blok)}
  id={blok._uid}
>
  <div class="heading">
    <h3>{headline}</h3>
    {
      !!seeAllLink &&
        seeAllLink.map((link) => (
          <ArrowLink
            {...link}
            variant="arrow-right"
            arrowPos="right"
            noLabelWidth
          />
        ))
    }
  </div>
  <div class=`copy text-${textalignment}`>
    {copy}
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    border-radius: 24px;
    gap: 24px;
    background-color: var(--color-neutral-stonegrey);

    .light-theme {
      background-color: var(--color-neutral-white);
    }
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }
</style>
