---
import Button, { type ButtonProps } from "@components/library/Button.astro";
import { renderRichText, storyblokEditable } from "@storyblok/astro";
import type {
  IComponentDefaults,
  RichtextStoryblok,
} from "@system/utils/types";

export interface C2_1TextProps extends IComponentDefaults {
  theme: "default" | "light-theme";
  headline: string;
  textalignment: "left" | "center";
  copy: RichtextStoryblok;
  button?: ButtonProps;

}

export interface Props {
  blok: C2_1TextProps;
}

const { blok } = Astro.props;
const { headline, button } = blok;
const copy = renderRichText(blok.copy);
---

<section
  aria-label="Text"
  class={`c2-1-text col-span-4 md-col-span-2 lg-col-span-6`}
  {...storyblokEditable(blok)}
  id={blok._uid}
>
  <h3>{headline}</h3>
  {!!copy && <Fragment set:html={copy} />}
  {!!button?.href && <Button {...button}/>}
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .light-theme {
      background-color: var(--color-neutral-white);
    }
  }
</style>
