---
import type { IComponentDefaults } from "@system/utils/types";
import TimelineItem,  { type TimelineItemProps } from "@components/library/TimelineItem.astro";

export interface C5TimelineProps extends IComponentDefaults {
    items: TimelineItemProps[]
}

export interface Props {
    blok: C5TimelineProps;
}

const { blok } = Astro.props;
const { items } = blok;

---

<section
    aria-label="Timeline"
    class="c5-timeline col-span-4 lg-col-start-1 lg-col-span-10"
    id={blok._uid}
>
    <div class="timeline">
        {items.map((item) => (
            <TimelineItem {...item} />
        ))}
    </div>
</section>

<style>
    .timeline {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
</style>