.theme-switch {
  position: relative;
  width: 32px;
  height: 32px;

  [type="checkbox"] {
    width: 32px;
    height: 32px;
    margin: 0;
    appearance: none;

    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    position: absolute;
    top: 0;
    z-index: -1;
    animation: rotate 20s linear infinite;
    width: 32px;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
