# build output
dist/

# generated types
.astro/

# vercel 
.vercel/output/functions/_render.func/Documents/Privat/Portfolio/PortfolioWebsite/.vercel/output/_functions/entry.mjs

# vscode |
.vscode/settings.json

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.qodo
