---
/***
 * P1 Default Page Template
 * @description Default page template for content pages
 */
 import { storyblokEditable, type SbBlokData } from "@storyblok/astro"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

const { blok, language } = Astro.props
---

<div
  id="content"
  class="grid-container grid-margin"
  {...storyblokEditable(blok)}>
  {
    blok.modules?.map((blok: SbBlokData) => {
      return <StoryblokComponent language={language} blok={blok} />
    })
  }
</div>
