---
/***
 * P1 Default Page Template
 * @description Default page template for content pages
 */
 import { storyblokEditable, type SbBlokData } from "@storyblok/astro"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

const { blok } = Astro.props
---

<div
  id="content"
  {...storyblokEditable(blok)}>
  {
    blok.modules?.map((blok: SbBlokData) => {
      return <StoryblokComponent blok={blok} />
    })
  }
</div>
