---
/***
 * P3 About me
 * @description Page Template for About me Page
 */
import ArrowLink from "@components/elements/ArrowLink.astro";
import C3Image, {
  type ImageProps,
} from "@components/modules/content/C3-Image/index.astro";
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";


const { blok, language } = Astro.props;

const url = Astro.url.pathname;
const isGerman = url.includes("/de/");
---

<div
  id="content"
  class="p3-about-me grid-container grid-margin grid-no-paddin grid-max-height"
  {...storyblokEditable(blok)}
>
  <div class="col-span-4 md-col-span-2 lg-col-span-5 leftside">
    <ArrowLink
      variant="arrow-left"
      label={ !isGerman ? "Back" : "Zurück"}
      link={ !isGerman ? "/" : "/de/"}
      class="col-span-4 lg-col-span-12"
      arrowPos="leftSide"
      noLabelWidth
    />
    {
      !!blok.image &&
        blok.image.map((image: ImageProps) => (
          <div class="lg-center-image">
            <C3Image
              gridSmall={{ start: 1, span: 2 }}
              gridMedium={{ start: 1, span: 2 }}
              gridLarge={{ start: 1, span: 5 }}
              aspectRatio="1/1"
              inferSize={true}
              {...image}
              autoHeight
            />
          </div>
        ))
    }
  </div>
  <div class="rightside col-span-4 md-col-span-2 lg-col-start-7 lg-col-span-6">
    <div class="scroll-area">
      <div class="content-wrapper">
        {
          blok.modules?.map((blok: SbBlokData) => {
            return <StoryblokComponent language={language} blok={blok} />;
          })
        }
      </div>
    </div>
  </div>
</div>

