---
import type { LinktStoryblok } from "@system/utils/types";

export interface ButtonProps {
    label: string;
    variant: "primary" | "secondary";
    href: LinktStoryblok;
    target: string;
}

const { label, variant = "primary", href, target } = Astro.props
---

<a class:list={[variant]} type="button" href={href.linktype === "email" ? `mailto:${href.email}` : href.url } target={target}>
    {label}
</a>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
        height: 48px;
        border-radius: 12px;
        color: var(--color-white);
        min-width: 240px;;
        width: fit-content;
        font-weight: bold;
        text-decoration: none;
        text-transform: lowercase;
    }

    .primary {
        background-color: var(--color-primary-purple);

        &:hover {
            cursor: pointer;
            background-color: var(--color-secondary-purple);
        }
    }

    .secondary {
        border: 2px solid var(--color-primary-purple);
        color: var(--color-primary-purple);

        &:hover {
            cursor: pointer;
            border-color: var(--color-secondary-purple);
            color: var(--color-secondary-purple);
        }
    }
</style>