---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";

export interface C6SkillProfileItemProps {
  label?: string;
  value?: "25" | "50" | "75" | "100";
  color?: "red" | "blue" | "purple";
}

export interface C6SkillProfileProps extends BASIC.IComponentDefaults {
  headline?: string;
  items?: C6SkillProfileItemProps[];
  othersLabel?: string;
  others?: string;
}

export interface Props {
  blok: SbBlokData & C6SkillProfileProps;
}

const { blok } = Astro.props;

function getClassNameForValue(value: string) {
  switch (value) {
    case '25':
      return 'width-25';
    case '33':
      return 'width-33';
    case '50':
      return 'width-50';
    case '66':
      return 'width-66';
    case '75':
      return 'width-75';
    case '90':
      return 'width-90';
    case '100':
      return 'width-100';
    default:
      return '';
  }
}
---

<section class="c6-skill-profile" {...storyblokEditable(blok)}>
  {blok.headline && <h3>{blok.headline}</h3>}
  <ul>
    {
      blok.items &&
        blok.items.map((item: C6SkillProfileItemProps) => (
          <li>
            <h5>{item.label}</h5>
            <div class:list={["custom-progress", item.color, getClassNameForValue(item.value as string)]}>
            </div>
          </li>
        ))
    }
  </ul>
  <div class="others">
    {blok.othersLabel && <h5>{blok.othersLabel}</h5>}
    {blok.others && <p>{blok.others}</p>}
  </div>
</section>

<style>
  @import "./index.css";
</style>
