.p3-about-me {
  --header-height: 56px;

  height: calc(100vh - var(--header-height));

  .padding {
    //padding: 96px 0;
    margin: auto 0;
  }

  .rightside {
    position: relative;
    height: calc(100vh - var(--header-height));
    //overflow: hidden;

    .scroll-area {
      //padding: 0 0 80px;
      ::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      display: flex;
      flex-direction: column;
      gap: 80px;

      @media (--large-viewport) {
        overflow-y: scroll;
        //margin-top: 96px;
        height: 100%;
        padding: 200px 0 250px;
        gap: 96px;
      }
    }
  }

  .gradient-black {
    position: absolute;
    height: 150px;
    width: 100%;
    z-index: 1;
  }

  .top {
    //top: 96px;
    rotate: 180deg;
  }

  .bottom {
    bottom: 0;
  }
}
