---
import { Icon } from "astro-icon/components";

export interface ArrowLinkProps {
  link?: BASIC.LinkProps;
  id?: string;
  label: string;
  variant: "arrow-right" | "arrow-left" | "arrow-up" | "arrow-down";
  arrowPos: "leftSide" | "rightSide" | "above" | "under";
  labelPos: "label-down" | "label-up" | "label-right";
  animation: "bounce";
  noLabelWidth: boolean;
  class: string;
}

const {
  link,
  id,
  label,
  arrowPos,
  variant,
  class: className,
  labelPos,
  noLabelWidth,
  animation,
} = Astro.props;
---

<a
  id={id}
  href={!!link.url ? link.url : link.cached_url || "" || link}
  class:list={[arrowPos, labelPos, className, animation]}
>
  <span class:list={["label", { noLabelWidth: noLabelWidth }]}>{label}</span>
  <Icon
    name={variant}
    width={variant === "arrow-right" || variant === "arrow-left" ? 43 : 11}
    height={variant === "arrow-right" || variant === "arrow-left" ? 11 : 43}
    class="divider"
  />
</a>

<style>
  a {
    display: flex;
    font-weight: 300;
    align-items: center;
    text-transform: lowercase;

    .label {
      display: block;
      white-space: pre-wrap;
      line-height: 1.2;
      width: 2.4em;
    }

    .noLabelWidth {
      width: 100%;
    }

    /* variant */
    &.leftSide,
    &.rightSide {
      flex-direction: row-reverse;
      align-items: center;
      gap: 4px;
    }

    &.rightSide {
      flex-direction: row;
    }

    &.above {
      flex-direction: column-reverse;
    }

    &.under {
      flex-direction: column;
    }

    &.label-down {
      align-items: flex-end;
    }

    &.label-up {
      align-items: flex-start;
    }

    &.label-right {
      align-items: flex-end;
      text-align: right;
    }

    /* animation */
    &.bounce {
      animation: bounce 1s infinite;

      @keyframes bounce {
        0%,
        100% {
          transform: translateY(-25%);
          animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }
</style>
