---
import { Icon } from 'astro-icon/components'
export interface ButtonProps {
  label?: string;
  variant?: "primary" | "secondary";
  color?: "purple" | "grey";
  href?: BASIC.LinkProps | string;
  target?: string;
  fullAuto?: boolean;
  icon?: string;
}

const {
  label,
  variant = "primary",
  href,
  target,
  color = "purple",
  fullAuto,
  icon
} = Astro.props;
---

<a
  class:list={["btn", variant, color, fullAuto ? "fullAuto" : ""]}
  type="button"
  href={href && href.linktype === "email" ? `mailto:${href.email}` : `${href && href.cached_url}`}
  target={target}
>
  {label}
  {icon && <Icon name={icon} class="btn-icon" />}
</a>
