.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 16px;
  height: 100%;
  width: 100%;

  @media (--medium-viewport) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 24px;
  }

  @media (--large-viewport) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    align-content: space-evenly;
  }
}
