.c2-1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--font-color);
    
    .light-theme {
      background-color: var(--color-neutral-white);
    }

    p {
      font-size: 18px;
    }

    .small-copy {
      font-size: 14px;
    }
  }