---
import { useStoryblokApi } from "@storyblok/astro";
import ArrowLink from "@components/elements/ArrowLink.astro";

export interface F2FooterProps {
  copyright?: string;
  backToTopLabel?: String;
  scrollId: string;
  padding?: boolean;
  footerNavi: BASIC.LinkProps[];
}

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi
  .get("cdn/stories/globals/f2Footer", {
    version:
      (import.meta.env.STORYBLOK_IS_PREVIEW ||
        process.env.STORYBLOK_IS_PREVIEW) === "yes"
        ? "draft"
        : "published",
  })
  .catch((error) => {
    console.log("Error", error);
    return { data: null };
  });

  const footer = data.story.content;

  const { scrollId, padding } = Astro.props;
  const url = Astro.url.pathname;
  const isGerman = url.includes("/de/");
---

<footer class:list={["f2-footer", padding ? "padding" : ""]}>
  {footer.copyright && <p>{footer.copyright}</p>}
  {footer.backToTopLabel && <ArrowLink
    id="backToTop"
    link={{ url: scrollId ? `#${scrollId}` : "" }}
    label={footer.backToTopLabel}
    labelPos="label-right"
    variant="arrow-up"
    arrowPos="right"
    animation="bounce"
  />}
  {footer.footerNavi && (
    <nav>
        {footer.footerNavi.map((item: BASIC.LinkProps) => (
            <a
              href={item.link.cached_url}
              class="footer-nav-item"
            >
              {item.label === "Imprint" && isGerman ? "Impressum" : item.label}
            </a>
        ))}
    </nav>
  )}
</footer>

<script>
  const backToTop = document.getElementById("backToTop");
  const targetId = backToTop?.getAttribute("href");

  backToTop?.addEventListener("click", (e) => {
    e.preventDefault();
    if (!targetId) {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    } else {
      const target = document.getElementById(targetId);
      if (target) {
        target.scrollIntoView({ behavior: "smooth" });
      }
    }
  });
</script>

<style>
  @import "./index.css";
</style>

